@(userId:Int, userRatedMovies:List[Rating], recommendMovies:List[Rating], genreInfo:String)


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome To Movies Recommendation w/ Apache Spark</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="/movies">
            Movies Recommendations
          </a>
          <form class="form-inline my-2 my-lg-0" action="/movies/actualVsPredicted" method="GET">
              <input class="form-control mr-sm-2" type="text" name="userId" placeholder="User Id" aria-label="User Id">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <a class="nav-link" href="/movies/trainModel">Train Model</a>
      </nav>

       <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h5 class="display-10">Actual vs Predicted Movies for user @userId</h5>
        <h6 class="display-08">@genreInfo</h6>
       </div>

       <div class="container">
        <table class="table">
         <thead>
            <tr><th scope="col">Actual Rating</th><th scope="col">Recommendation</th></tr>
         </thead>
         <tbody>
         <tr>
           <td style="width:50%">
            <table class="table table-bordered table-hover">
                <tr><th>Id</th><th>Rating</th><th>Title</th><th>Poster</th></tr>
                @for(ratedMovie <- userRatedMovies) {
                   <tr>
                     <td><a href="/movies/recommendedUsers/@ratedMovie.movieId">@ratedMovie.movieId</a></td>
                     <td>@ratedMovie.rating</td>
                     <td>@ratedMovie.title <br/><span class="genre">@ratedMovie.genres</span></td>
                     <td><img src="https://image.tmdb.org/t/p/w500/@ratedMovie.posterPath" height="100" width="66" /></td>
                   </tr>
                  }
            </table>
           </td>
           <td style="width:50%">
             <table class="table table-bordered table-hover">
                <tr><th>Id</th><th>Rating</th><th>Title</th><th>Poster</th></tr>
                @for(recMovie <- recommendMovies) {
                   <tr>
                     <td><a href="/movies/recommendedUsers/@recMovie.movieId">@recMovie.movieId</a></td>
                     <td>@("%.2f".format(recMovie.rating))</td>
                     <td>@recMovie.title <br/><span class="genre">@recMovie.genres</span></td>
                     <td><img src="https://image.tmdb.org/t/p/w500/@recMovie.posterPath" height="100" width="66" /></td>
                   </tr>
                  }
             </table>
           </td>
         </tr>
         </tbody>
        </table>
       </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
